@charset "utf-8";

/* common */
body {
    font-family: Verdana, Arial, 'sans-serif';
}
html, body {
    font-size:16px;
    background-color: #dde5ee;
}
img {
	width: 100%;
	height: auto;
}
.error-msg {
    margin:1rem 0;
}
.loading {
    margin:3px;
    text-align: center;
}

/* header */
header {
    padding-top: 5px;
    padding-bottom: 5px;
}
header > h1 {
    margin: 0;
    color: #fff;
}


/* footer */
footer > .copyright {
    text-align: center;
    font-size: 1.2rem;
}


/* main-content-area */
.main-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}


/* login-box-design */
.login-box {
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    max-width: 500px;
}
@media only screen and (min-width: 768px) {
    .login-box {
        padding: 1rem 3rem;
    }
}
.login-box > h2 {
    text-align: center;
}
.login-box > form > input, .login-box > form > button {
    margin: 5px 0;
    width: 100%;
}
.login-box > form > button {
    font-size: 1.2rem;
}
.login-box input:focus {
    box-shadow: 0px 5px 10px 0px #c9b8b8;
    background-color: #fff;
    border:solid 1px #aaa8a7;
}
.login-box input:hover {
    border:solid 1px #aaa8a7;
}



/* とりあえず非表示にしてるもの（のちのち表示の切り替えをjsで実装） */
.loading, .error-msg {
    display: none;
}

/* 保留１（デフォルトのpaddingがバカでかいので、仮で小さく） */
.siimple-footer {
    padding-top: 5px;
    padding-bottom: 5px;

}