<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>サンプル１</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/demo.js"></script>
</head>
<body>
	<div id="app">
		{{message}}<br>
        <input v-model="message" size="100"><br>
		<button v-on:click="addList">追加</button>　<button v-on:click="delList">削除</button><br>
        <table border="1">
            <tr v-for="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.tel}}</td>
            </tr>
        </table>
	</div>
</body>
</html>